*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.light-theme body {
  background-color: #ffffff;
  color: #282828;
}

.dark-theme body {
  background-color: #282828;
  color: #ffffff;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-size: 2.813rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(239, 72, 115, 0.3)), url(../../assets/images/hero-image-movie.webp) center center;
  background-size: cover;
  color: #ffffff;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 48px 24px 32px;
}
@media screen and (min-width: 576px) {
  .hero-container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    min-height: 250px;
    max-width: 576px !important;
  }
}
@media screen and (min-width: 992px) {
  .hero-container {
    min-height: 300px;
    max-width: 768px !important;
  }
}
@media screen and (min-width: 1800px) {
  .hero-container {
    min-height: 400px;
  }
}
@media screen and (max-width: 992px) {
  .hero h1 {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 1.75rem;
  }
}
.hero p {
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
@media screen and (min-width: 576px) {
  .hero p {
    font-size: 1.25rem;
  }
}
.hero .search-form {
  display: flex;
  width: min(100%, 650px);
  border-radius: 50px;
  margin-top: 24px;
  background-color: #ffffff;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .hero .search-form {
    margin-top: 16px;
  }
}
.hero .search-icon {
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.hero .search-input {
  padding: 10px 8px 10px 10px;
  border: none;
  width: 90%;
}
@media screen and (min-width: 400px) {
  .hero .search-input[type=text] {
    font-size: 1rem;
    color: grey;
  }
}
.hero .search-input:focus {
  outline: 0;
}
.hero .search-button {
  border: none;
  border-radius: 50px;
  padding: 0px 14px;
  margin-left: auto;
  font-size: 1rem;
  background-color: #ef4873;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}
@media screen and (min-width: 576px) {
  .hero .search-button {
    padding: 0px 20px;
  }
}
.hero .search-button:hover, .hero .search-button:focus {
  background-color: #ec2256;
}

.movie-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 5px 28px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 992px) {
  .movie-item:hover {
    transform: scale(1.01);
  }
  .movie-item:hover .movie-poster img {
    filter: brightness(80%);
  }
}
.movie-poster {
  display: flex;
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
}
.movie-poster:after {
  content: "";
  display: block;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(248, 248, 248, 0.56) 66.67%, white 100%);
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: -2px;
}
.movie-poster img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: top center;
  transition: all 0.3s ease-in-out;
}
.movie-body {
  padding: 10px 20px 20px;
}
.movie-title {
  font-size: 1rem;
  font-weight: 600;
}
.movie-info-container {
  margin-top: 4px;
}
.movie-info-container span {
  font-size: 0.813rem;
  font-weight: 500;
  color: #4f4b4b;
}
.movie-rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
}
.movie-rating img {
  width: 16px;
  height: 16px;
}
.movie-rating span {
  font-size: 0.813rem;
  font-weight: 500;
  color: #4f4b4b;
}
.movie-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px 20px 20px;
}
.movie-buttons-container button {
  font-weight: 700;
  color: #ef4873;
  background-color: transparent;
  border: 2px solid #ef4873;
}
.movie-buttons-container button:hover, .movie-buttons-container button:active, .movie-buttons-container button:focus {
  background-color: #fcdee6;
}
.movie-buttons-container .add-to-watchlist-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 20px;
  border-radius: 8px;
}
.movie-buttons-container .add-to-watchlist-btn span {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.movie-info-btn {
  font-size: 1rem;
  padding: 5px 12px;
  border-radius: 50px;
}

body:has(dialog[open]) {
  overflow-y: hidden;
}

.movie-modal {
  padding: 30px 30px 20px 24px;
  max-width: 360px;
  width: 100%;
  border: none;
  border-radius: 20px;
}
.movie-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
@media screen and (min-width: 400px) {
  .movie-modal {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .movie-modal {
    max-width: 500px;
  }
}
@media screen and (min-width: 992px) {
  .movie-modal {
    max-width: 630px;
  }
}

.modal-wrapper {
  position: relative;
}
.modal-wrapper .close-modal-btn {
  position: absolute;
  top: -28px;
  right: -28px;
  background-color: transparent;
  border: none;
}
.modal-wrapper .close-modal-btn:hover path, .modal-wrapper .close-modal-btn:active path {
  stroke: #ef4873;
}
@media screen and (min-width: 400px) {
  .modal-wrapper .close-modal-btn {
    top: -24px;
    right: -24px;
  }
}
@media screen and (min-width: 992px) {
  .modal-wrapper .close-modal-btn {
    top: -20px;
    right: -18px;
  }
}
.modal-header {
  display: flex;
  gap: 16px;
}
.modal-header .movie-img-wrapper img {
  object-fit: cover;
  border-radius: 6px;
  width: 85px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .modal-header .movie-img-wrapper img {
    width: 85px;
  }
}
.modal-header .header-info-container {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}
@media screen and (min-width: 992px) {
  .modal-header .header-info-container {
    font-size: 1rem;
    gap: 7px;
  }
}
.modal-header .header-info-container h2 {
  font-size: 1rem;
}
@media screen and (min-width: 992px) {
  .modal-header .header-info-container h2 {
    font-size: 1.125rem;
  }
}
.modal-header .header-info-container > p {
  margin-top: 8px;
}
.modal-header .rating,
.modal-header .info-container {
  margin-top: 8px;
}
.modal-header .rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.modal-body {
  margin-top: 16px;
}
.modal-body span {
  font-weight: 700;
}
.modal-body p {
  margin-bottom: 14px;
}
.modal-body button {
  font-weight: 700;
  color: #ef4873;
  background-color: transparent;
  border: 2px solid #ef4873;
  margin-top: 20px;
}
.modal-body button:hover, .modal-body button:active, .modal-body button:focus {
  background-color: #fcdee6;
}
.modal-body .add-to-watchlist-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 32px;
  border-radius: 8px;
}
.modal-body .add-to-watchlist-btn span {
  font-size: 0.813rem;
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizespeed;
}

footer {
  margin-top: auto;
}

.container {
  margin: auto;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.movie-list .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  max-width: 540px;
  margin: auto;
  padding: 32px 0;
}
@media screen and (min-width: 768px) {
  .movie-list .container {
    padding: 64px 0;
    max-width: 650px;
  }
}
@media screen and (min-width: 1200px) {
  .movie-list .container {
    padding: 64px 0;
    max-width: 992px;
  }
}
