@use "../abstracts/variables" as *;

.container {
  margin: auto;

  @media screen and (min-width: 576px) {
    max-width: $container-sm;
  }

  @media screen and (min-width: 768px) {
    max-width: $container-md;
  }

  @media screen and (min-width: 992px) {
    max-width: $container-lg;
  }

  @media screen and (min-width: 1200px) {
    max-width: $container-xl;
  }
}