@use "../abstracts/variables" as *;

// ----------------
// Hero Buttons
// ----------------
.hero-buttons-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin: 24px auto 0;

  @media  screen and (max-width: 440px) {
    flex-direction: column;
    width: 75%;
  }
}

.hero-btn,
.placeholder-movies-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: $font-weight-semibold;
}

.hero-btn {
  padding: 10px 16px;
  border-radius: 8px;
  z-index: 1;
  color: $white;
  background-color: $primary;
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:active {
    &:not(:disabled) {
      background-color: darken($primary, 10%);
    }
  }

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  svg {
    path {
      stroke: $white;
    }
  }
}

// ----------------
// Movie Buttons
// ----------------
.movie-buttons-container,
.modal-body {
  button {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $primary;
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 8px;

    &:hover,
    &:active {
      background-color: lighten($primary, 32%);
    }
  }

  .toggle-watchlist-btn {
    &.is-added {
      background-color: lighten($primary, 32%);
    }
  }
}

.movie-buttons-container {
  button {
    font-size: $font-size-xxs;
    padding: 2px 20px;
  }

  .remove-movie-btn {
    background-color: lighten($primary, 32%);
  }
  
  .movie-info-btn {
    font-size: $font-size-base;
    text-transform: none;
    padding: 5px 12px;
    border-radius: 50px;
  }
}

// ----------------
// Modal Buttons
// ----------------
.modal-body {
  button {
    font-size: $font-size-xs;
    padding: 6px 32px;
    margin-top: 20px;
  }
}

.close-modal-btn {
  position: absolute;
  top: -28px;
  right: -28px;
  background-color: transparent;
  border: none;

  &:hover,
  &:active {
    path {
      stroke: $primary;
    }
  }

  @media screen and (min-width: 400px) {
    top: -24px;
    right: -24px;
  }

  @media screen and (min-width: 992px) {
    top: -20px;
    right: -18px;
  }
}

// --------------------
// Placeholder Buttons
// --------------------
.placeholder-movies-btn {
  color: $neutral-100;

  svg {
    path {
      stroke: $neutral-100;
    }
  }

  &:hover,
  &:active {
    color: darken($neutral-100, 10%);

    svg {
      path {
        stroke: darken($neutral-100, 10%);
      }
    }
  }
}