@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-normal;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

@include themify($themes) {
	body {
		background-color: themed(bg);
		color: themed(text);
	}
}

main {
	overflow: hidden;
}

a {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

button {
	font: inherit;
  border: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

h1, 
h2, 
h3,
h4,
h5,
p {
	margin:0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $font-size-lg;
}
	