.movie-list {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    max-width: 540px;
    margin: auto;
    padding: 32px 0;

    @media screen and (min-width: 768px) {
      padding: 64px 0;
      max-width: 650px;
    }

    @media screen and (min-width: 1200px) {
      padding: 64px 0;
      max-width: 992px;
    }
  }
}