<header>
  <nav class="navbar">
    <div class="container">
      <a class="navbar-link" href="/">
        <svg aria-hidden="true" focusable="false" width="25px" height="25px">
          <title>Search Icon</title>
          <use xlink:href="#icon-search"/>
        </svg>
        <span>Search Page</span>
      </a>
      <a class="navbar-link" href="/watchlist.html">
        <svg aria-hidden="true" focusable="false" width="25px" height="25px">
          <title>Bookmark Icon</title>
          <use xlink:href="#icon-bookmark"/>
        </svg>
        <span>Watchlist</span>
      </a>
    </div>
  </nav>
</header>