<section class="hero">
	<div class="hero-wrapper {{hero.sectionId}}">
    <div class="container hero-container">
      <div class="heading-container">
        <h1>{{{hero.title}}}</h1>
        <p>{{hero.subtitle}}</p>
      </div>
      {{#if (eq hero.sectionId "search-page")}}
        <form id="search-form" class="search-form js-search-form" name="form" accept-charset="utf-8" aria-label="Search form">
            <label for="search-input" aria-label="Search your favorite movie"></label>
            <span id="search-icon" class="search-icon">
              <svg aria-hidden="true" focusable="false" width="16" height="16">
                  <title>Search Icon Octicon</title>
                  <use xlink:href="#icon-search-octicon"/>
              </svg>
            </span>
            <input
            id="search-input"
            class="search-input js-search-input"
            name="search-input"
            type="text"
            placeholder="Search your favorite movie...">
          <button class="search-button" type="submit" aria-label="Submit Search">Search</button>
        </form>
      {{else}}
        <div class="hero-buttons-container">
          <a href="/" class="hero-btn">
            <svg aria-hidden="true" focusable="false" width="24px" height="24px">
              <title>White Plus Icon</title>
              <use xlink:href="#white-plus-icon"/>
            </svg>
            <span>Add new movies</span>
          </a>
          <button class="hero-btn js-clear-watchlist-btn">
            <svg aria-hidden="true" focusable="false" width="24px" height="24px">
              <title>Trash Icon</title>
              <use xlink:href="#trash-icon"/>
            </svg>
            <span>Clear watchlist</span>
          </button>
        </div>
      {{/if}}
    </div>
	</div>
</section>