.placeholder {
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
  color: $neutral-100;
  text-align: center;
  max-width: 540px;
  margin: auto;

  @media screen and (min-width: 768px) {
    font-size: $font-size-md;
    max-width: 650px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 992px;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
  }
}