@use "../abstracts/variables";

.search-form {
  display: flex;
  width: min(100%, 675px);
  border-radius: 50px;
  margin-top: 24px;
  background-color: $white;
  overflow: hidden;
  z-index: 1;

  @media screen and (max-width: 576px) {
    margin-top: 16px;
  }
}

.search-icon {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.search-input {
  padding: 12px 8px 12px 10px;
  border: none;
  width: 90%;

  &[type="text"] {
    font-size: $font-size-base;
    color: $gray;
  }

  &:focus {
    outline: 0;
  }
}

.search-button {
  border: none;
  border-radius: 50px;
  padding: 0px 16px;
  margin-left: auto;
  font-size: $font-size-base;
  background-color: $primary;
  color: $white;
  transition: background-color 0.2s ease-in-out;

  @media screen and (min-width: 576px) {   
    padding: 0px 20px;
  }

  &:hover,
  &:active {
    background-color: darken($primary, 8%);
  }
}